/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Open Sans", sans-serif;
}

.box-1 {
  text-align: center;
  border: 1px solid #0d47a1;
  background: #42a5f5;
  padding: 20px;
}

.box-3 {
  border: 1px solid #0d47a1;
  background: #42a5f5;
  padding: 20px;
  width: 25%;
}

.container-box-1 {
  display: flex;
  justify-content: center;
}

.container-box-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-box-3 {
  display: flex;
  flex-wrap: wrap;
}
